<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="An Autonomous Gene Synthesis System and Decentralized Biosecurity Screening Protocol">
    <meta name="author" content="Vlad Omelyanchuk">
    <meta name="robots" content="all,follow">

    <meta name="google-site-verification" content="qqX2E-C7Q8VfhaE_AjtWu7SGIgoXgk83Sd3TUlzpOYU" />

    <title>@ViewBag.Title</title>

    <script id="mfn-dnmc-config-js">
        //<![CDATA[
        window.mfn = { mobile_init: 900, nicescroll: 40, parallax: "translate3d", responsive: 1, retina_js: 0 };
        window.mfn_lightbox = { disable: false, disableMobile: false, title: false, };
        window.mfn_sliders = { blog: 0, clients: 0, offer: 0, portfolio: 0, shop: 0, slider: 0, testimonials: 0 };
        //]]>
    </script>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel='stylesheet' id='contact-form-7-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/contact-form-7/includes/css/styles4906.css?ver=4.7")' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/revslider/public/assets/css/settings78d9.css?ver=5.4.3.1")' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='mfn-base-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/css/base9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-layout-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/css/layout9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-shortcodes-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/css/shortcodes9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-animations-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/assets/animations/animations.min9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-jquery-ui-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/assets/ui/jquery.ui.all9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-jplayer-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/assets/jplayer/css/jplayer.blue.monday9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-responsive-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme/css/responsive9428.css?ver=17.8.3")' type='text/css' media='all' />
    <link rel='stylesheet' id='Lato-css' href='http://fonts.googleapis.com/css?family=Lato%3A1%2C300%2C400%2C400italic%2C500%2C700%2C700italic&amp;ver=4.7.9")' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/js_composer/assets/css/js_composer.min3c21.css?ver=5.1.1")' type='text/css' media='all' />
    <link rel='stylesheet' id='bsf-Defaults-css' href='@Url.Content("~/Content/Landing/wp-content/uploads/smile_fonts/Defaults/Defaultseff2.css?ver=4.7.9")' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-style-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/style.minf28f.css?ver=3.16.12")' type='text/css' media='all' />
    <link rel='stylesheet' id='ult-slick-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/slick.minf28f.css?ver=3.16.12")' type='text/css' media='all' />
    <link rel='stylesheet' id='ult-icons-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/css/iconsf28f.css?ver=3.16.12")' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-animate-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/animate.minf28f.css?ver=3.16.12")' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='@Url.Content("~/Content/Landing/wp-content/themes/betheme-child/style9428.css?ver=17.8.3")' type='text/css' media='all' />
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min78d9.js?ver=5.4.3.1")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min78d9.js?ver=5.4.3.1")'></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Landing/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Landing/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js")"></script>

    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate-params.minf28f.js?ver=3.16.12")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/custom.minf28f.js?ver=3.16.12")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/slick.minf28f.js?ver=3.16.12")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/jquery-appear.minf28f.js?ver=3.16.12")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/slick-custom.minf28f.js?ver=3.16.12")'></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/Landing/wp-content/custom.css")">

    <meta name="format-detection" content="telephone=no" />

    <!-- To collect end-user usage analytics about your application, insert the following script into each page you want to track. Place this code immediately before the closing </head> tag, and before any other scripts. Your first data will appear automatically in just a few seconds. -->
    <script type="text/javascript">var appInsights = window.appInsights || function (a) { function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c }({ instrumentationKey: "ad33b7b8-4a9c-4d8c-8d47-e7d4f9c99c60" }); window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();</script>

    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <style type="text/css" data-type="vc_custom-css">
        .wpcf7-form label {
            margin: 0 0 -10px 0 !important;
            max-width: 370px;
        }

        textarea.wpcf7-form-control.wpcf7-textarea {
            max-height: 110px;
        }

        .wpcf7-form p {
            max-width: 377px;
        }

        select.wpcf7-form-control.wpcf7-select {
            -moz-appearance: none;
        }

        a.anchor1 {
            display: block;
            position: relative;
            top: 40px;
            visibility: hidden;
            font-size: 0px;
        }

        a.anchor2 {
            display: block;
            position: relative;
            top: 80px;
            visibility: hidden;
            font-size: 0px;
        }

        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }

            .videoWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>

</head>

<body class="home page-template-default page page-id-118 template-slider  color-custom style-simple button-stroke layout-full-width one-page no-shadows header-transparent header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders menuo-right footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll be-1783 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">

    <!-- mfn_hook_top --><!-- mfn_hook_top -->
    <!-- #Wrapper -->
    <div id="Wrapper">



        <!-- #Header_bg -->
        <div id="Header_wrapper">

            <!-- #Header -->
            <header id="Header">



                <!-- .header_placeholder 4sticky  -->
                <div class="header_placeholder"></div>

                <div id="Top_bar" class="loading">

                    <div class="container">
                        <div class="column one">

                            <div class="top_bar_left clearfix">

                                <!-- Logo -->
                                <div class="logo"><a id="logo" href="#" title="syntau"><img class="logo-main scale-with-grid" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/logo.png")" alt="" /><img class="logo-sticky scale-with-grid" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/blank.png")" alt="" /><img class="logo-mobile scale-with-grid" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/logo.png")" alt="" /><img class="logo-mobile-sticky scale-with-grid" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/logo.png")" alt="" /></a></div>
                                <div class="menu_wrapper">
                                    <nav id="menu" class="menu-main-nav-container">
                                        <ul id="menu-main-nav" class="menu">
                                            @*                        <li id="menu-item-138" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#rev_slider_2_1"><span>HOME</span></a></li>*@
                                            <li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#about"><span>OVERVIEW</span></a></li>
                                            <li id="menu-item-125" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#functionality"><span>PRODUCT</span></a></li>
@*                                            <li id="menu-item-126" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#publications"><span>PUBLICATIONS</span></a></li>*@
@*                                            <li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitworks"><span>HOW IT WORKS</span></a></li>*@
                                            <li id="menu-item-128" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#team"><span>TEAM</span></a></li>
@*                                            <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://blog.syntau.com/" target="_blank"><span>BLOG</span></a></li>*@
                                            <li id="menu-item-130" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#contact"><span>CONTACTS</span></a></li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a>
                                </div>

                                <div class="secondary_menu_wrapper">
                                    <!-- #secondary-menu -->
                                </div>

                                <div class="banner_wrapper">
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="mfn-main-slider" id="mfn-rev-slider">
                    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:transparent;padding:0px;">
                        <!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->
                        <div id="rev_slider_2_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
                            <ul>
                                <!-- SLIDE  -->
                                <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="@Url.Content("~/Content/Landing/wp-content/plugins/revslider/admin/assets/images/transparent.png")" data-bgcolor='#010304' style='background:#010304' alt="" title="Welcome to SynTau" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-1"
                                         data-x="center" data-hoffset="80"
                                         data-y="center" data-voffset="70"
                                         data-width="['none','none','none','none']"
                                         data-height="['none','none','none','none']"
                                         data-type="image"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 5;"><img src="@Url.Content("~/Content/images/gene_therapy.png")" alt="" data-ww="90%" data-hh="auto" width="1483" height="1152" data-no-retina></div>

                                    <!-- LAYER NR. 2 -->
                                    @*<div class="tp-caption   tp-resizeme"*@
                                    @*     id="slide-2-layer-2"*@
                                    @*     data-x="center" data-hoffset="80"*@
                                    @*     data-y="center" data-voffset="70"*@
                                    @*     data-width="['none','none','none','none']"*@
                                    @*     data-height="['none','none','none','none']"*@
                                    @**@
                                    @*     data-type="image"*@
                                    @*     data-responsive_offset="on"*@
                                    @**@
                                    @*     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
                                    @*     data-textAlign="['inherit','inherit','inherit','inherit']"*@
                                    @*     data-paddingtop="[0,0,0,0]"*@
                                    @*     data-paddingright="[0,0,0,0]"*@
                                    @*     data-paddingbottom="[0,0,0,0]"*@
                                    @*     data-paddingleft="[0,0,0,0]"*@
                                    @**@
                                    @*     style="z-index: 6;">*@
                                    @*$1$    <div class="cta-btn">		#1#*@
                                    @*$1$        <a href="#">		#1#*@
                                    @*$1$            <span>		#1#*@
                                    @*$1$                SUBSCRIBE#1#*@
                                    @*$1$            </span>		#1#*@
                                    @*$1$        </a>		#1#*@
                                    @*$1$    </div>#1#*@
                                    @*$1$        <div class="btn btn-video mb15">#1#*@
                                    @*$1$            <div class="video-play">#1#*@
                                    @*$1$                <a href="https://grid.hoopox.com/aelf%20presentation-EN.pdf">#1#*@
                                    @*$1$                    SUBSCRIBE#1#*@
                                    @*$1$                </a>#1#*@
                                    @*$1$    #1#*@
                                    @*$1$            </div>#1#*@
                                    @*$1$        </div>#1#*@
                                    @*$1$    <img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/btn-video.png")" alt="" data-ww="55%" data-hh="auto" width="352" height="365" data-no-retina/>#1#*@
                                    @*</div>*@

                                    <!-- LAYER NR. 2 -->
                                    @*<div class="tp-caption   tp-resizeme"*@
                                    @*     id="slide-2-layer-2"*@
                                    @*     data-x="center" data-hoffset="80"*@
                                    @*     data-y="center" data-voffset="70"*@
                                    @*     data-width="['none','none','none','none']"*@
                                    @*     data-height="['none','none','none','none']"*@
                                    @**@
                                    @*     data-type="image"*@
                                    @*     data-responsive_offset="on"*@
                                    @**@
                                    @*     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
                                    @*     data-textAlign="['inherit','inherit','inherit','inherit']"*@
                                    @*     data-paddingtop="[0,0,0,0]"*@
                                    @*     data-paddingright="[0,0,0,0]"*@
                                    @*     data-paddingbottom="[0,0,0,0]"*@
                                    @*     data-paddingleft="[0,0,0,0]"*@
                                    @**@
                                    @*     style="z-index: 6;">*@
                                    @*        <img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/Be-Free-ISLAND.png")" alt="" data-ww="85%" data-hh="auto" width="1013" height="722" data-no-retina />*@
                                    @*</div>*@

                                    <!-- LAYER NR. 3 -->
                                    @*<div class="tp-caption   tp-resizeme" *@
                                    @*     id="slide-2-layer-3" *@
                                    @*     data-x="center" data-hoffset="81" *@
                                    @*     data-y="center" data-voffset="68" *@
                                    @*     data-width="['none','none','none','none']"*@
                                    @*     data-height="['none','none','none','none']"*@
                                    @* *@
                                    @*     data-type="image" *@
                                    @*     data-responsive_offset="on" *@
                                    @**@
                                    @*     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
                                    @*     data-textAlign="['inherit','inherit','inherit','inherit']"*@
                                    @*     data-paddingtop="[0,0,0,0]"*@
                                    @*     data-paddingright="[0,0,0,0]"*@
                                    @*     data-paddingbottom="[0,0,0,0]"*@
                                    @*     data-paddingleft="[0,0,0,0]"*@
                                    @**@
                                    @*     style="z-index: 7;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/Be-Free-ISLAND-RINGS.png")" alt="" data-ww="85%" data-hh="auto" width="1013" height="722" data-no-retina> </div>*@

                                    <!-- LAYER NR. 4 -->
                                    @*<div class="tp-caption   tp-resizeme" *@
                                    @*     id="slide-2-layer-4" *@
                                    @*     data-x="center" data-hoffset="80" *@
                                    @*     data-y="center" data-voffset="68" *@
                                    @*     data-width="['none','none','none','none']"*@
                                    @*     data-height="['none','none','none','none']"*@
                                    @* *@
                                    @*     data-type="image" *@
                                    @*     data-responsive_offset="on" *@
                                    @**@
                                    @*     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
                                    @*     data-textAlign="['inherit','inherit','inherit','inherit']"*@
                                    @*     data-paddingtop="[0,0,0,0]"*@
                                    @*     data-paddingright="[0,0,0,0]"*@
                                    @*     data-paddingbottom="[0,0,0,0]"*@
                                    @*     data-paddingleft="[0,0,0,0]"*@
                                    @**@
                                    @*     style="z-index: 8;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/Be-Free-ISLAND-DOTS.png")" alt="" data-ww="85%" data-hh="auto" width="1013" height="722" data-no-retina> </div>*@

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-5"
                                         data-x="491"
                                         data-y="137"
                                         data-width="['none','none','none','none']"
                                         data-height="['none','none','none','none']"
                                         data-type="image"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 9;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/dotted-line-right-fade.png")" alt="" data-ww="658px" data-hh="2px" width="658" height="2" data-no-retina></div>

                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-6"
                                         data-x="1158"
                                         data-y="107"
                                         data-width="['none','none','none','none']"
                                         data-height="['none','none','none','none']"
                                         data-type="image"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":700,"frame":"0","from":"x:-150px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 10;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/digi-element.png")" alt="" data-ww="65px" data-hh="64px" width="65" height="64" data-no-retina></div>

                                    <!-- LAYER NR. 7 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-7"
                                         data-x="right" data-hoffset="90"
                                         data-y="center" data-voffset="-270"
                                         data-width="['auto']"
                                         data-height="['auto']"
                                         data-type="text"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 11; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 400; color: #65caff; letter-spacing: 3px;font-family:'agold', Arial, Tahoma, sans-serif;">MAXIMIZING INNOVATION</div>

                                    <!-- LAYER NR. 8 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-8"
                                         data-x="right" data-hoffset="634"
                                         data-y="center" data-voffset="-178"
                                         data-width="['545']"
                                         data-height="['40']"
                                         data-type="text"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 12; min-width: 545px; max-width: 545px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 69px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:kiro;">gene synthesis blockchain platform</div>


                                    <!-- LAYER NR. 9 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-9"
                                         data-x="55"
                                         data-y="center" data-voffset="-50"
                                         data-width="['auto']"
                                         data-height="['auto']"
                                         data-type="text"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 13; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 400; color: #65caff; letter-spacing: 3px;font-family:'agold', Arial, Tahoma, sans-serif;">MINIMIZING RISK</div>

                                    <!-- LAYER NR. 10 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-11"
                                         data-x="right" data-hoffset="1194"
                                         data-y="center" data-voffset="-30"
                                         data-width="['none','none','none','none']"
                                         data-height="['none','none','none','none']"
                                         data-type="image"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":700,"frame":"0","from":"x:150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 14;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/digi-element.png")" alt="" data-ww="65px" data-hh="64px" width="65" height="64" data-no-retina></div>

                                    <!-- LAYER NR. 11 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-12"
                                         data-x="54"
                                         data-y="center" data-voffset="-31"
                                         data-width="['none','none','none','none']"
                                         data-height="['none','none','none','none']"
                                         data-type="image"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 15;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/dotted-line-left-fade.png")" alt="" data-ww="658px" data-hh="2px" width="658" height="2" data-no-retina></div>

                                    <!-- LAYER NR. 12 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-13"
                                         data-x="56"
                                         data-y="center" data-voffset="-153"
                                         data-width="['none','none','none','none']"
                                         data-height="['none','none','none','none']"
                                         data-type="image"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 16;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/xline-left.png")" alt="" data-ww="304px" data-hh="9px" width="304" height="9" data-no-retina></div>

                                    <!-- LAYER NR. 13 -->
@*                                    <div class="tp-caption   tp-resizeme"*@
@*                                         id="slide-2-layer-14"*@
@*                                         data-x="right" data-hoffset="25"*@
@*                                         data-y="center" data-voffset="225"*@
@*                                         data-width="['']"*@
@*                                         data-height="['40']"*@
@*                                         data-type="text"*@
@*                                         data-responsive_offset="on"*@
@*                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
@*                                         data-textAlign="['inherit','inherit','inherit','inherit']"*@
@*                                         data-paddingtop="[0,0,0,0]"*@
@*                                         data-paddingright="[0,0,0,0]"*@
@*                                         data-paddingbottom="[0,0,0,0]"*@
@*                                         data-paddingleft="[0,0,0,0]"*@
@*                                         style="z-index: 17; min-width: px; max-width: px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 69px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:kiro;">portable gene-synthesizing device</div>*@

                                    <!-- LAYER NR. 14 -->
@*                                    <div class="tp-caption   tp-resizeme"*@
@*                                         id="slide-2-layer-15"*@
@*                                         data-x="right" data-hoffset="28"*@
@*                                         data-y="center" data-voffset="254"*@
@*                                         data-width="['none','none','none','none']"*@
@*                                         data-height="['none','none','none','none']"*@
@*                                         data-type="image"*@
@*                                         data-responsive_offset="on"*@
@*                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
@*                                         data-textAlign="['inherit','inherit','inherit','inherit']"*@
@*                                         data-paddingtop="[0,0,0,0]"*@
@*                                         data-paddingright="[0,0,0,0]"*@
@*                                         data-paddingbottom="[0,0,0,0]"*@
@*                                         data-paddingleft="[0,0,0,0]"*@
@*                                         style="z-index: 18;"><img src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/xline-right.png")" alt="" data-ww="304px" data-hh="9px" width="304" height="9" data-no-retina></div>*@

                                    <!-- LAYER NR. 15 -->
@*                                    <div class="tp-caption   tp-resizeme"*@
@*                                         id="slide-2-layer-16"*@
@*                                         data-x="right" data-hoffset="27"*@
@*                                         data-y="center" data-voffset="287"*@
@*                                         data-width="['auto']"*@
@*                                         data-height="['auto']"*@
@*                                         data-type="text"*@
@*                                         data-responsive_offset="on"*@
@*                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'*@
@*                                         data-textAlign="['inherit','inherit','inherit','inherit']"*@
@*                                         data-paddingtop="[0,0,0,0]"*@
@*                                         data-paddingright="[0,0,0,0]"*@
@*                                         data-paddingbottom="[0,0,0,0]"*@
@*                                         data-paddingleft="[0,0,0,0]"*@
@*                                         style="z-index: 19; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 400; color: #a5deff; letter-spacing: 3px;font-family:'agold', Arial, Tahoma, sans-serif;">ENABLE ALL MOLECULAR BIOLOGY LABORATORIES TO CREATE DNA MOLECULES IN A ROBUST MANNER</div>*@

                                    <!-- LAYER NR. 16 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-17"
                                         data-x="right" data-hoffset="24"
                                         data-y="center" data-voffset="400"
                                         data-width="['auto']"
                                         data-height="['auto']"
                                         data-type="text"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 20; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 3px;font-family:'agold', Arial, Tahoma, sans-serif;">OUR GOAL IS TO DEVELOP INSTRUMENTS THAT GREATLY ENHANCE RESEARCH EFFORTS</div>

                                    <!-- LAYER NR. 17 -->
                                    <div class="tp-caption   tp-resizeme"
                                         id="slide-2-layer-17"
                                         data-x="right" data-hoffset="24"
                                         data-y="center" data-voffset="422"
                                         data-width="['auto']"
                                         data-height="['auto']"
                                         data-type="text"
                                         data-responsive_offset="on"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 20; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 3px;font-family:'agold', Arial, Tahoma, sans-serif;">RELATED TO BIOLOGICAL DISCOVERY, DIAGNOSTICS, AND THERAPEUTICS</div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
                        <script>
var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                            if (htmlDiv) {
                                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                            } else {
                                var htmlDiv = document.createElement("div");
                                htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                            }
                        </script>
                        <script type="text/javascript">
    setREVStartSize({c: jQuery('#rev_slider_2_1'), gridwidth: [1240], gridheight: [868], sliderLayout: 'fullscreen', fullScreenAutoWidth:'off', fullScreenAlignForce:'off', fullScreenOffsetContainer:'', fullScreenOffset:'-80'});

    var revapi2,
        tpj=jQuery;

    tpj(document).ready(function() {
        if(tpj("#rev_slider_2_1").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_2_1");
        }else{
            revapi2 = tpj("#rev_slider_2_1").show().revolution({
                sliderType:"hero",
                jsFileLocation:"@Url.Content("~/Content/Landing/wp-content/plugins/revslider/public/assets/js/")",
                sliderLayout:"fullscreen",
                dottedOverlay:"none",
                delay:9000,
                visibilityLevels:[1240,1024,778,480],
                gridwidth:1240,
                gridheight:868,
                lazyType:"none",
                shadow:0,
                spinner:"spinner2",
                autoHeight:"off",
                fullScreenAutoWidth:"off",
                fullScreenAlignForce:"off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "-80",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:751,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    disableFocusListener:false,
                }
            });
        }

    });	/*ready*/
                        </script>
                        <script>
                            var htmlDivCss = ' #rev_slider_2_1_wrapper .tp-loader.spinner2{ background-color: #FFFFFF !important; } ';
                            var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                            if (htmlDiv) {
                                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                            }
                            else {
                                var htmlDiv = document.createElement('div');
                                htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                                document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                            }
                        </script>
                    </div><!-- END REVOLUTION SLIDER -->
                </div>
            </header>


        </div>


        <!-- mfn_hook_content_before --><!-- mfn_hook_content_before -->
        <!-- #Content -->

        @RenderBody()
        <!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
        <!-- #Footer -->
        <footer id="Footer" class="clearfix">




            <div class="footer_copy">
                <div class="container">
                    <div class="column one">

                        <!-- Copyrights -->
                        <div class="copyright">
                            Copyright &copy; 2019 SynTau
                        </div>

                        <ul class="social"></ul>
                    </div>
                </div>
            </div>





        </footer>
    </div><!-- #Wrapper -->
    <div id="Side_slide" class="right dark"><div class="close-wrapper"><a href="#" class="close"><i class="icon-cancel-fine"></i></a></div><div class="extras"><div class="extras-wrapper"></div></div><div class="lang-wrapper"></div><div class="menu_wrapper"></div><ul class="social"></ul></div><div id="body_overlay"></div>

    <!-- mfn_hook_bottom --><!-- mfn_hook_bottom -->
    <!-- wp_footer() -->
    <script type="text/javascript">
                            function revslider_showDoubleJqueryError(sliderID) {
                                var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
                                errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
                                errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
                                errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
                                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                                jQuery(sliderID).show().html(errorMessage);
                            }
    </script>
    <link rel='stylesheet' id='ult-background-style-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/background-style.minf28f.css?ver=3.16.12")' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css-css' href='@Url.Content("~/Content/Landing/wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min3c21.css?ver=5.1.1")' type='text/css' media='all' />
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20")'></script>
    <script type='text/javascript'>
                            /* <![CDATA[ */
                            var _wpcf7 = { "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } } };
/* ]]> */
    </script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/contact-form-7/includes/js/scripts4906.js?ver=4.7")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/ui/sortable.mine899.js?ver=1.11.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/jquery/ui/accordion.mine899.js?ver=1.11.4")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/js/plugins9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/js/menu9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/assets/animations/animations.min9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/assets/jplayer/jplayer.min9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/js/parallax/translate3d9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/js/parallax/smoothscroll9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/themes/betheme/js/scripts9428.js?ver=17.8.3")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/comment-reply.mineff2.js?ver=4.7.9")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-includes/js/wp-embed.mineff2.js?ver=4.7.9")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min3c21.js?ver=5.1.1")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate_bg.mineff2.js?ver=4.7.9")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/Landing/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min3c21.js?ver=5.1.1")'></script>
    <!-- script | custom js -->
    <script id="mfn-dnmc-custom-js">
                            //<![CDATA[
                            jQuery(document).ready(function ($) {

                                $('.wpcf7-select').css('color', '#0182c5');

                                $('.wpcf7-select').change(function () {
                                    var current = $('.wpcf7-select').val();
                                    if (current != 'null') {
                                        $('.wpcf7-select').css('color', 'white');
                                    } else {
                                        $('.wpcf7-select').css('color', 'gray');
                                    }
                                });



                                $('.aboutx').attr("data-id", "#about");
                                //$('.productx').attr( "data-id", "#products" );



                            });


//]]>
    </script>
</body>

@*<body data-spy="scroll" data-target="#navigation" data-offset="120">*@
@*<div id="all">*@
@*    <!-- navbar-->*@
@*    <header class="header">*@
@*        <div role="navigation" class="navbar navbar-default navbar-fixed-top">*@
@*            <div class="container">*@
@*                <div class="navbar-header">*@
@*                    <a id="header-logo" href="#all" class="navbar-brand scroll-to">*@
@*                        <img src="~/Content/images/landing/logo.png" alt="logo" class="hidden-xs hidden-sm"><img src="~/Content/images/landing/logo-small.png" alt="logo" class="visible-xs visible-sm"><span class="sr-only">Go to homepage</span>*@
@*                    </a>*@
@*                    <div class="navbar-buttons">*@
@*                        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>*@
@*                    </div>*@
@*                </div>*@
@*                <div id="navigation" class="collapse navbar-collapse navbar-right">*@
@*                    <ul class="nav navbar-nav">*@
@*                        <li>*@
@*                            <a href="#problem" class="scroll-to">Problem</a>*@
@*                        </li>*@
@*                        <li>*@
@*                            <a href="#solution" class="scroll-to">Solution</a>*@
@*                        </li>*@
@*                        <li>*@
@*                            <a href="#technical" class="scroll-to">Technical</a>*@
@*                        </li>*@
@*                        $1$                        <li>#1#*@
@*                        $1$                            <a href="#integrations" class="scroll-to">Integrations</a>#1#*@
@*                        $1$                        </li>#1#*@
@*                        <li>*@
@*                            <a href="#team" class="scroll-to">Team</a>*@
@*                        </li>*@
@*                        <li>*@
@*                            <a href="#contacts" class="scroll-to">Contacts</a>*@
@*                        </li>*@
@*                    </ul><a href="@Url.Action("Login", "Identity")" class="btn navbar-btn btn-ghost">Log In</a>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </header>*@
@**@
@*    <!-- *** SUBSCRIBE MODAL ***_________________________________________________________*@
@*    -->*@
@*    <div id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">*@
@*        <div class="modal-dialog modal-sm">*@
@*            <div class="modal-content">*@
@*                <div class="modal-header">*@
@*                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>*@
@*                    <h4 class="modal-title text-center">Subscribe</h4>*@
@*                </div>*@
@*                <div class="modal-body">*@
@*                    <form action="#" method="post">*@
@*                        <div class="form-group">*@
@*                            <input type="text" placeholder="First Name" class="form-control">*@
@*                            <br/>*@
@*                            <input type="text" placeholder="Last Name" class="form-control">*@
@*                            <br />*@
@*                            <input type="text" placeholder="Your email" class="form-control">*@
@*                        </div>*@
@*                        <p class="text-center">*@
@*                            <button type="button" data-dismiss="modal" class="btn btn-primary">Subscribe</button>*@
@*$1$                            <button type="button" data-dismiss="modal" class="btn btn-link">Cancel</button>#1#*@
@*                        </p>*@
@*                    </form>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- *** SUBSCRIBE MODAL END ***-->*@
@**@
@*    @RenderBody()*@
@**@
@*    <footer class="footer">*@
@*        <div class="footer__copyright">*@
@*            <div class="container">*@
@*                <div class="row">*@
@*                    <div class="col-md-3">*@
@*                        <p>Copyright &copy; 2018 SynTau</p>*@
@*                    </div>*@
@*                    <div class="col-md-6">*@
@*                        <ul class="footer-social-icons">*@
@*                            <li>*@
@*                                <a href="https://github.com/ambrosus" target="_blank">*@
@*                                    <i class="ion-social-github"></i>*@
@*                                </a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="https://www.linkedin.com/company/ambrosus" target="_blank">*@
@*                                    <i class="ion-social-linkedin">*@
@*                                    </i>*@
@*                                </a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="https://twitter.com/AmbrosusAMB" target="_blank">*@
@*                                    <i class="ion-social-twitter"></i>*@
@*                                </a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="https://www.facebook.com/ambrosusAMB" target="_blank">*@
@*                                    <i class="ion-social-facebook">*@
@*                                    </i>*@
@*                                </a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="https://youtu.be/OkdCV6zw3lI" target="_blank">*@
@*                                    <i class="ion-social-youtube"></i>*@
@*                                </a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="https://www.reddit.com/r/ambrosus/" target="_blank">*@
@*                                    <i class="ion-social-reddit">*@
@*                                    </i>*@
@*                                </a>*@
@*                            </li>*@
@*                            <li>*@
@*                                <a href="https://bitcointalk.org/index.php?topic=2034826.0" target="_blank">*@
@*                                    <i class="ion-social-bitcoin"></i>*@
@*                                </a>*@
@*                            </li>*@
@*                        </ul>*@
@*                    </div>*@
@*                    <div class="col-md-3">*@
@*                        <p class="pull-right">*@
@*$1$                            <a href="#" data-toggle="modal" data-target="#subscribe-modal" class="btn btn-ghost">Subscribe</a>#1#*@
@*                            <button type="button" data-toggle="modal" data-target="#subscribe-modal" class="btn btn-primary">Subscribe</button>*@
@*                            $1$                            Code by <a href="https://bootstrapious.com/landing-pages" class="external">Bootstrapious</a>#1#*@
@*                        </p>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </footer>*@
@*</div>*@
@*<!-- Javascript files-->*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
@*<script src="@Url.Content("~/Scripts/landing/bootstrap.min.js")"> </script>*@
@*<script src="@Url.Content("~/Scripts/landing/jquery.cookie.js")"> </script>*@
@*<script src="@Url.Content("~/Scripts/landing/ekko-lightbox.js")"></script>*@
@*<script src="@Url.Content("~/Scripts/landing/jquery.simple-text-rotator.min.js")"></script>*@
@*<script src="@Url.Content("~/Scripts/landing/jquery.scrollTo.min.js")"></script>*@
@*<script src="@Url.Content("~/Scripts/landing/owl.carousel.min.js")"></script>*@
@*<script src="@Url.Content("~/Scripts/landing/front.js")"></script>*@
@*<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->*@
@*<!---->*@
@*<script>*@
@*    (function(b, o, i, l, e, r) {*@
@*        b.GoogleAnalyticsObject = l;*@
@*        b[l] ||*@
@*        (b[l] =*@
@*            function() { (b[l].q = b[l].q || []).push(arguments) });*@
@*        b[l].l = +new Date;*@
@*        e = o.createElement(i);*@
@*        r = o.getElementsByTagName(i)[0];*@
@*        e.src = '//www.google-analytics.com/analytics.js';*@
@*        r.parentNode.insertBefore(e, r);*@
@*    }(window, document, 'script', 'ga'));*@
@*    ga('create', 'UA-XXXXX-X');*@
@*    ga('send', 'pageview');*@
@*</script>*@
@*</body>*@

@*<body>*@
@*    <div class="navbar-wrapper">*@
@*        <div class="container">*@
@**@
@*            <div class="navbar navbar-inverse navbar-static-top" role="navigation">*@
@*                <div class="container">*@
@*                    <div class="navbar-header">*@
@*                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">*@
@*                            <span class="sr-only">Toggle navigation</span>*@
@*                            <span class="icon-bar"></span>*@
@*                            <span class="icon-bar"></span>*@
@*                            <span class="icon-bar"></span>*@
@*                        </button>*@
@*                        <a class="navbar-brand" href="#"></a>*@
@*                    </div>*@
@*                    <div class="navbar-collapse collapse">*@
@*                        <ul class="nav navbar-nav">*@
@*                            @*<li><a href="#Problem"><button type="button" class="btn btn-link gray-text menu-text">PROBLEM</button></a></li>*@
@*                            <li><a href="#Solution"><button type="button" class="btn btn-link gray-text menu-text">SOLUTION</button></a></li>*@
@*                            <li><a href="#Technical"><button type="button" class="btn btn-link gray-text menu-text">TECHNICAL</button></a></li>*@
@*                            <li><a href="#Team"><button type="button" class="btn btn-link gray-text menu-text">TEAM</button></a></li>*@
@*                            <li><a href="#Problem">PROBLEM</a></li>*@
@*                            <li><a href="#Solution">SOLUTION</a></li>*@
@*                            <li><a href="#Technical">TECHNICAL</a></li>*@
@*                            <li><a href="#Team">TEAM</a></li>*@
@*                            <li><a href="@Url.Action("Login", "Identity")">LOG IN</a></li>*@
@*                        </ul>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@**@
@*        </div>*@
@*    </div>*@
@**@
@*    @RenderBody()*@
@*    *@
@*<div class="row">*@
@*    <div class="col-lg-10 col-lg-offset-1">*@
@*        <p>*@
@*            &nbsp; <i class="fa fa-copyright"></i> SynTau 2017*@
@*            <ul class="fa-ul">*@
@*                <li><i class="fa-li fa fa-envelope"></i><a href="mailto:info@syntau.com">info@syntau.com</a></li>*@
@*            </ul>*@
@*        </p>*@
@*    </div>*@
@*</div>*@
@**@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
@*    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>*@
@*</body>*@
</html>