@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@T("App_Title")
<h1>Landing</h1>
<div>
    <a class="btn btn-secondary btn-block btn-rounded" href="@Url.Action("CreateAccount", "Account", new { Area = "Identity" })" role="button">@T("Login_CreateAccount_CreateAccountButton")</a>
    <a class="btn btn-secondary btn-block btn-rounded" href="@Url.Action("Index", "Home", new { Area = "Ecommerce" })" role="button">Ecommerce</a>
    <a class="btn btn-secondary btn-block btn-rounded" href="@Url.Action("Logout", "Account", new { Area = "Identity" })" role="button">Logout</a>
</div>

