@{
    ViewBag.Title = "SynTau - Gene Synthesis Blockchain Platform";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div id="Content">
    <div class="content_wrapper clearfix">

        <!-- .sections_group -->
        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section the_content has_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper">
                            <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid hidehome vc_custom_1495124295653 vc_row-has-fill vc_row-no-padding vc_row-o-full-height vc_row-o-columns-middle vc_row-flex">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_right  vc_custom_1495118614059  ha">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="736" height="64" src="~/Content/Landing/wp-content/uploads/2017/05/title-element.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 736px) 100vw, 736px" />
                                                    </div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  vc_custom_1495118623086 glow hb">
                                                <div class="wpb_wrapper">
                                                    <h3 style="text-align: right;">MAXIMIZING INNOVATION</h3>
                                                </div>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  glow">
                                                <div class="wpb_wrapper">
                                                    <h1 style="text-align: center;">gene synthesis blockchain platform</h1>

                                                </div>
                                            </div>

                                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1495118635107  hc">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="304" height="9" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/xline-left.png")" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 304px) 100vw, 304px" /></div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  vc_custom_1495118643433 glow hd">
                                                <div class="wpb_wrapper">
                                                    <h4>MINIMIZING RISK</h4>
                                                </div>
                                            </div>

                                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1495118811356  he">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="736" height="64" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/title-element-copy.png")" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 736px) 100vw, 736px" /></div>
                                                </figure>
                                            </div>
                                            @*                                            <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>*@

                                            @*                                            <div class="wpb_text_column wpb_content_element  glow">*@
                                            @*                                                <div class="wpb_wrapper">*@
                                            @*                                                    <h2 style="text-align: center;">portable gene-synthesizing device</h2>*@
                                            @**@
                                            @*                                                </div>*@
                                            @*                                            </div>*@

                                            <div class="wpb_text_column wpb_content_element  glow upperc">
                                                <div class="wpb_wrapper">
                                                    @*            Our goal is to make remarkable leaps in technology and satisfy the growing demand of synthetic genes in a cost-effective and short time-frame, as well as to create a universally verifiable ecosystem that would allow to move the synthesis process out of the lab.*@
                                                    @*                                                    <h4 style="text-align: center;"><span style="color: #25b4ff;">ENABLE ALL MOLECULAR BIOLOGY LABORATORIES TO CREATE DNA MOLECULES IN A ROBUST MANNER</span></h4>*@
                                                    <h4 style="text-align: center;">OUR GOAL IS TO DEVELOP INSTRUMENTS THAT GREATLY ENHANCE RESEARCH EFFORTS RELATED TO BIOLOGICAL DISCOVERY, DIAGNOSTICS, AND THERAPEUTICS</h4>

                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row-full-width vc_clearfix"></div><div id="about" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid aboutx vc_custom_1496144102640 vc_row-o-full-height vc_row-o-columns-top vc_row-o-equal-height vc_row-o-content-top vc_row-flex">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid glow vc_custom_1496306202452">
                                                <div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <h1 style="font-size: 17px;color: #ffffff;line-height: 28px;text-align: right" class="vc_custom_heading titleani vc_custom_1495538894867">OVERVIEW</h1><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_right vc_separator_no_text vc_sep_color_white vc_custom_1496306360334  vc_custom_1496306360334">
                                                                <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                                            </div><div id="ult-carousel-16212381035a7e4169729f7" class="ult-carousel-wrapper  vc_custom_1496306346963  ult_horizontal" data-gutter="15" data-rtl="false">
                                                                <div class="ult-carousel-13371276235a7e416972957 ">
                                                                    <div class="ult-item-wrap" data-animation="animated no-animation">
                                                                        <div class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <p style="text-align: right;">The ability to synthesize long stretches of DNA would greatly augment molecular biology research. Currently, non-templated synthesis of nucleic acids at the gene scale is usually conducted by outsource providers at very high costs with prolonged production times. The cost and time constraints commonly result in developing an alternative study design that limits the number of experimental conditions that can be reasonably tested.<br>Global Synthetic Biology Market is witnessing an increase in growth, owing to the potential of the technology to change the society. The increasing support from government and private institutions, increasing R&D investments. However, years of bio-safety & security regulations have stifled tech development in gene synthesis and resulted in supply shortages.<br>Our proposal is to build a blockchain-based IoT ecosystem and portable gene-synthesizing device that will allow investigators to synthesize long stretches of DNA of any sequence on demand in a cost-effective, simple, and short time-frame.</p>

                                                                            </div>
                                                                        </div>
                                                                    </div><div class="ult-item-wrap" data-animation="animated no-animation">
                                                                        <div class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <p style="text-align: right;">Our key advantage is in the solving of biosecurity and scalability issues, what our competitors are facing. We are creating a regulated database where all pathogens are immutably recorded in a decentralised and fully-auditable manner, which protects from hacking, data manipulation and fraud. Screening rules are encoded as smart contracts. Based on the requested DNA sequence of synthetic gene, contracts will self-execute and potentially dangerous sequences will be identified and blocked before a synthesis process is started.<br>We believe the successful implementation of our blockchain-based biosecurity platform will facilitate the potential of gene synthesis technologies while mitigating risks of abuse.</p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <script type="text/javascript">
                                                                jQuery(document).ready(function ($) {
                                                                    $('.ult-carousel-13371276235a7e416972957').slick({
                                                                        dots: false, autoplaySpeed: 5000, speed: 300, infinite: false, arrows: true, nextArrow: '<button type="button" role="button" aria-label="Next" style="color:#333333; font-size:20px;background:;" class="slick-next square-bg"><i class="ultsl-arrow-right6"></i></button>', prevArrow: '<button type="button" role="button" aria-label="Previous" style="color:#333333; font-size:20px;background:;" class="slick-prev square-bg"><i class="ultsl-arrow-left6"></i></button>', slidesToScroll: 1, slidesToShow: 1, swipe: true, draggable: true, touchMove: true, pauseOnHover: true, responsive: [
                                                                            {
                                                                                breakpoint: 1025,
                                                                                settings: {
                                                                                    slidesToShow: 1,
                                                                                    slidesToScroll: 1,
                                                                                }
                                                                            },
                                                                            {
                                                                                breakpoint: 769,
                                                                                settings: {
                                                                                    slidesToShow: 1,
                                                                                    slidesToScroll: 1
                                                                                }
                                                                            },
                                                                            {
                                                                                breakpoint: 481,
                                                                                settings: {
                                                                                    slidesToShow: 1,
                                                                                    slidesToScroll: 1
                                                                                }
                                                                            }
                                                                        ], pauseOnDotsHover: true, customPaging: function (slider, i) {
                                                                            return '<i type="button" style=&quot;color:#333333;&quot; class="ultsl-record" data-role="none"></i>';
                                                                        },
                                                                    });
                                                                });
                                                            </script>
                                                            <div class="ult-spacer spacer-5a7e416972e1b" data-id="5a7e416972e1b" data-height="100" data-height-mobile="100" data-height-tab="100" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vc_row-full-width vc_clearfix"></div>

                            <div class="upb_bg_img" data-ultimate-bg="url(@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/product-background.jpg"))" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="no-repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
                            <div id="functionality" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid productx vc_custom_1496144189156 vc_row-o-full-height vc_row-o-columns-top vc_row-o-content-top vc_row-flex">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1496307237245">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <h1 style="font-size: 17px; color: #ffffff; line-height: 28px; text-align: right" class="vc_custom_heading titleani">PRODUCT</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid glow vc_custom_1496307247492 vc_row-o-equal-height vc_row-flex">
                                                <div class="right-pads wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1495020343881">

                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="83" height="83" src="~/Content/images/microfluidic_device.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 83px) 100vw, 83px" /></div>
                                                                </figure>
                                                            </div>
                                                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_left vc_separator_no_text vc_sep_color_white vc_custom_1496307485963  vc_custom_1496307485963">
                                                                <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                                            </div>
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h4>PORTABLE GENE-SYNTHESIZING DEVICE</h4>
                                                                    <p>Our solution is a “cheap” (as compared to current world market of DNA synthesis devices)  portable device that is designed to synthesize gene from an idea to a test-tube for extremely low price. Think of it as being a huge robotic-based extensive and very expensive equipment that has been condensed down to the size of a computer. Device is based on combination of oligonucleotide synthesizer and high-throughput gene assembly module. We are working hard on the system architecture with assumption that it will be mapped to microfluidic technologies in the future releases.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="left-pads wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_single_image wpb_content_element vc_align_right  vc_custom_1495184517410">
                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="83" height="83" src="~/Content/images/pathogens_repository.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 83px) 100vw, 83px" /></div>
                                                                </figure>
                                                            </div>
                                                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_right vc_separator_no_text vc_sep_color_white vc_custom_1495448983593  vc_custom_1495448983593">
                                                                <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                                            </div>
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h4 style="text-align: right;">PATHOGENS REPOSITORY</h4>
                                                                    <p style="text-align: right;">The Pathogens Repository component of the Biosecurity Platform manages a distributed database for pathogen-specific data that is built on top of a programmable blockchain (Ethereum) and distributed file system (IPFS). Key properties of the Pathogens Repository include transparency, immutability and capacity.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid glow vc_custom_1495449069517 vc_row-o-equal-height vc_row-flex">
                                                <div class="right-pads wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1495190920766">

                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="83" height="83" src="~/Content/images/screening_protocol.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 83px) 100vw, 83px" /></div>
                                                                </figure>
                                                            </div>
                                                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_left vc_separator_no_text vc_sep_color_white vc_custom_1496307491725  vc_custom_1496307491725">
                                                                <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                                            </div>
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h4>SCREENING PROTOCOL</h4>
                                                                    <p>The second component of the Biosecurity Platform is the Screening Protocol. This portion of the platform is used to define screening rules that can be directly evaluated against the Pathogens Repository. It is important that internationally coordinated regulators create a set of well-defined, designed and tested screening contracts which are publically available on the blockchain. The requirements defined by regulators will be critical to applications monitoring gene synthesis requests in the ecosystem.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="left-pads wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_single_image wpb_content_element vc_align_right  vc_custom_1495190933188">

                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="83" height="83" src="~/Content/images/optimization_strategies.png" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 83px) 100vw, 83px" /></div>
                                                                </figure>
                                                            </div>
                                                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_right vc_separator_no_text vc_sep_color_white vc_custom_1495449030839  vc_custom_1495449030839">
                                                                <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                                            </div>
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h4 style="text-align: right;">ADVANCED OPTIMIZATION STRATEGIES</h4>
                                                                    <p style="text-align: right;"></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vc_row-full-width vc_clearfix"></div>

                            <!-- Row Backgrounds -->
                            <div class="upb_bg_img" data-ultimate-bg="url(@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/product-background.jpg"))" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>

                            <div id="news" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_row-o-full-height vc_row-o-columns-top vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1496307293337"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h1 style="font-size: 17px;color: #ffffff;line-height: 28px;text-align: right" class="vc_custom_heading titleani" >NEWS</h1></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid kill-right-padding-m vc_custom_1496307298973"><div class="wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="glow wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner "><div class="wpb_wrapper">
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_right vc_separator_no_text vc_sep_color_white vc_custom_1495449402418  vc_custom_1495449402418"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                </div>
                                <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                        <h4 style="text-align: right;">PUBLICATION</h4>
                                        <p style="text-align: right;"><a style="color: #fff;" href="https://www.ncbi.nlm.nih.gov/pubmed/31166848" target="_blank">Oligonucleotide Preparation Approach for Assembly of DNA Synthons.</a></p>
                                    </div>
                                </div>
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_20 vc_sep_dotted vc_sep_border_width_2 vc_sep_pos_align_right vc_separator_no_text vc_sep_color_white vc_custom_1495449394308  vc_custom_1495449394308" ><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                                </div>
                                <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                        <h4 style="text-align: right;">ANNOUNCEMENT</h4>
                                        <p style="text-align: right;"><a style="color: #fff;" href="https://medium.com/deip/syntau-and-deip-announce-partnership-b5ac3e54c2f2" target="_blank">SynTau and DEIP Announce Partnership.</a></p>
                                
                                    </div>
                                </div>
                            </div></div></div></div></div></div></div></div>

                            <div class="vc_row-full-width vc_clearfix"></div>

                            @*                            <div class="upb_bg_img" data-ultimate-bg="url(@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/product-background.jpg"))" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="no-repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div><div id="howitworks" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid productx vc_custom_1498140134786 vc_row-o-full-height vc_row-o-columns-top vc_row-o-content-top vc_row-flex">*@
                            @*                                <div class="wpb_column vc_column_container vc_col-sm-12">*@
                            @*                                    <div class="vc_column-inner ">*@
                            @*                                        <div class="wpb_wrapper">*@
                            @*                                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1496307237245"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h1 style="font-size: 17px;color: #ffffff;line-height: 28px;text-align: right" class="vc_custom_heading titleani">How It Works</h1></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid">*@
                            @*                                                <div class="wpb_column vc_column_container vc_col-sm-12">*@
                            @*                                                    <div class="vc_column-inner ">*@
                            @*                                                        <div class="wpb_wrapper">*@
                            @*                                                            <div class="wpb_text_column wpb_content_element ">*@
                            @*                                                                <div class="wpb_wrapper">*@
                            @*                                                                    <div class="videoWrapper"><!-- Copy & Pasted from YouTube --><iframe src="https://www.youtube.com/embed/Tk338VXcb24" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>*@
                            @**@
                            @*                                                                </div>*@
                            @*                                                            </div>*@
                            @*                                                        </div>*@
                            @*                                                    </div>*@
                            @*                                                </div>*@
                            @*                                            </div>*@
                            @*                                        </div>*@
                            @*                                    </div>*@
                            @*                                </div>*@
                            @*                            </div>*@

                            <div class="vc_row-full-width vc_clearfix"></div>

                            <div class="upb_bg_img" data-ultimate-bg="url(@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/product-background.jpg"))" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
                            <div id="team" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_row-o-full-height vc_row-o-columns-top vc_row-o-content-top vc_row-flex">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">

                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1496307325902">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <h1 style="font-size: 17px; color: #ffffff; line-height: 28px; text-align: right" class="vc_custom_heading titleani">TEAM</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid fontseez vc_custom_1496307331151 vc_row-o-equal-height vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/aleksei_yantsevich.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Aleksei Yantsevich</p>
                                                            <p class="team-member-title">Co-founder, CEO</p>
                                                            <div class="s_first_team_soc fw" style="height: 22px !important;">
                                                                <a href="https://www.researchgate.net/profile/Aliaksei_Yantsevich" target="_blank">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" class="svg-to-inline">
                                                                        <style type="text/css">
                                                                            .st0 {
                                                                                fill: #64caff;
                                                                            }
                                                                        </style>
                                                                        <g>
                                                                            <path class="st0" d="M501.6,193.4l-228.8-134c-8.5-5-22.5-5-30.9,0l-228.8,134c-8.5,5-8.5,13.1,0,18.2l12.8,7.5v55.8   c-4.3,1.4-7.6,5.8-7.6,11.3c0,4.3,2.1,8,5.1,10.1l-19.6,85c-0.5,1.1-0.8,2.2-0.8,3.3l0,0v0l0,0c0,7.8,11.4,14.2,25.5,14.2   c14,0,25.4-6.4,25.5-14.2l0,0v0l0,0c0-1.1-0.3-2.2-0.8-3.3l-19.6-85c3-2.1,5.1-5.8,5.1-10.1c0-5.5-3.3-9.9-7.6-11.3v-52.8   l91.4,53.6c-0.6,1.9-1.1,3.9-1.1,6V394c0,0,0,0.1,0,0.2c0,22.3,60.9,40.5,135.9,40.5c75.1,0,136-18.2,136-40.5c0-0.1,0-0.2,0-0.2   c0,0,0.1,0.1,0.1,0.2V281.7c0-2-0.5-4-1.1-6l109.4-64.1C510.1,206.5,510.1,198.4,501.6,193.4z M257.3,424.6   c-82.7,0-127.3-21.6-127.3-30.4c0-9.1,43.3-30.5,127.3-30.5c84,0,127.3,21.4,127.3,30.5C384.6,403,340,424.6,257.3,424.6z"></path>
                                                                        </g>
                                                                    </svg>
                                                                </a>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/dmitry_klevzhits.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Dmitry Klevzhits</p>
                                                            <p class="team-member-title">Co-founder, Сhairman</p>
                                                            <div class="s_first_team_soc fw">
                                                                <a href="https://www.linkedin.com/in/dmitry-klevzhits-25917413/" target="_blank">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class="svg-to-inline">
                                                                        <g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect y="160" width="114.496" height="352" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></rect>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></path>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <circle cx="56" cy="56" r="56" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></circle>
                                                                                </g>
                                                                            </g></g> </svg>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/vlad_omelyanchuk3.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Vlad Omelyanchuk</p>
                                                            <p class="team-member-title">Co-founder, CTO</p>
                                                            <div class="s_first_team_soc fw">
                                                                <a href="https://www.linkedin.com/in/vlad-omelyanchuk-0013286b/" target="_blank">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class="svg-to-inline">
                                                                        <g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect y="160" width="114.496" height="352" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></rect>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></path>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <circle cx="56" cy="56" r="56" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></circle>
                                                                                </g>
                                                                            </g></g> </svg>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/yaroslav_dichenko.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Yaroslav Dichenko</p>
                                                            <p class="team-member-title">Senior Researcher</p>
                                                            <div class="s_first_team_soc fw" style="height: 22px !important;">
                                                                <a href="https://www.researchgate.net/profile/Yaroslav_Dichenko" target="_blank">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" class="svg-to-inline">
                                                                        <style type="text/css">
                                                                            .st0 {
                                                                                fill: #64caff;
                                                                            }
                                                                        </style>
                                                                        <g>
                                                                            <path class="st0" d="M501.6,193.4l-228.8-134c-8.5-5-22.5-5-30.9,0l-228.8,134c-8.5,5-8.5,13.1,0,18.2l12.8,7.5v55.8   c-4.3,1.4-7.6,5.8-7.6,11.3c0,4.3,2.1,8,5.1,10.1l-19.6,85c-0.5,1.1-0.8,2.2-0.8,3.3l0,0v0l0,0c0,7.8,11.4,14.2,25.5,14.2   c14,0,25.4-6.4,25.5-14.2l0,0v0l0,0c0-1.1-0.3-2.2-0.8-3.3l-19.6-85c3-2.1,5.1-5.8,5.1-10.1c0-5.5-3.3-9.9-7.6-11.3v-52.8   l91.4,53.6c-0.6,1.9-1.1,3.9-1.1,6V394c0,0,0,0.1,0,0.2c0,22.3,60.9,40.5,135.9,40.5c75.1,0,136-18.2,136-40.5c0-0.1,0-0.2,0-0.2   c0,0,0.1,0.1,0.1,0.2V281.7c0-2-0.5-4-1.1-6l109.4-64.1C510.1,206.5,510.1,198.4,501.6,193.4z M257.3,424.6   c-82.7,0-127.3-21.6-127.3-30.4c0-9.1,43.3-30.5,127.3-30.5c84,0,127.3,21.4,127.3,30.5C384.6,403,340,424.6,257.3,424.6z"></path>
                                                                        </g>
                                                                    </svg>
                                                                </a>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1496307325902">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <h1 style="font-size: 17px; color: #ffffff; line-height: 28px; text-align: right" class="vc_custom_heading titleani">ADVISORS</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid fontseez vc_custom_1496307331151 vc_row-o-equal-height vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/arturo_bris.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Arturo Bris</p>
                                                            <p class="team-member-title">Scientific Advisor, Professor of Finance at IMD</p>
                                                            <div class="s_first_team_soc fw" style="display: flex !important; justify-content: center;">
                                                                <a href="https://www.researchgate.net/profile/Arturo_Bris" target="_blank" style="width: 30px; height: 21px;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" class="svg-to-inline">
                                                                        <style type="text/css">
                                                                            .st0 {
                                                                                fill: #64caff;
                                                                            }
                                                                        </style>
                                                                        <g>
                                                                            <path class="st0" d="M501.6,193.4l-228.8-134c-8.5-5-22.5-5-30.9,0l-228.8,134c-8.5,5-8.5,13.1,0,18.2l12.8,7.5v55.8   c-4.3,1.4-7.6,5.8-7.6,11.3c0,4.3,2.1,8,5.1,10.1l-19.6,85c-0.5,1.1-0.8,2.2-0.8,3.3l0,0v0l0,0c0,7.8,11.4,14.2,25.5,14.2   c14,0,25.4-6.4,25.5-14.2l0,0v0l0,0c0-1.1-0.3-2.2-0.8-3.3l-19.6-85c3-2.1,5.1-5.8,5.1-10.1c0-5.5-3.3-9.9-7.6-11.3v-52.8   l91.4,53.6c-0.6,1.9-1.1,3.9-1.1,6V394c0,0,0,0.1,0,0.2c0,22.3,60.9,40.5,135.9,40.5c75.1,0,136-18.2,136-40.5c0-0.1,0-0.2,0-0.2   c0,0,0.1,0.1,0.1,0.2V281.7c0-2-0.5-4-1.1-6l109.4-64.1C510.1,206.5,510.1,198.4,501.6,193.4z M257.3,424.6   c-82.7,0-127.3-21.6-127.3-30.4c0-9.1,43.3-30.5,127.3-30.5c84,0,127.3,21.4,127.3,30.5C384.6,403,340,424.6,257.3,424.6z"></path>
                                                                        </g>
                                                                    </svg>
                                                                </a>
                                                                <a href="https://www.linkedin.com/in/arturo-bris-0544ba2/" target="_blank" style="width: 30px; height: 18px;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class="svg-to-inline">
                                                                        <g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect y="160" width="114.496" height="352" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></rect>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></path>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <circle cx="56" cy="56" r="56" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></circle>
                                                                                </g>
                                                                            </g></g> </svg>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/lars_wegner.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Lars Wegner</p>
                                                            <p class="team-member-title">Technology Advisor</p>
                                                            <div class="s_first_team_soc fw">
                                                                <a href="https://www.linkedin.com/in/larswegner/" target="_blank">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class="svg-to-inline">
                                                                        <g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect y="160" width="114.496" height="352" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></rect>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></path>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <circle cx="56" cy="56" r="56" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></circle>
                                                                                </g>
                                                                            </g></g> </svg>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495184262996">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                <img width="150" height="150" src="~/Content/images/alex_shkor.png" class="vc_single_image-img attachment-full border-gradient" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                                            </div>
                                                        </figure>
                                                    </div>

                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                        <div class="wpb_wrapper">
                                                            <p class="team-member-name">Alex Shkor</p>
                                                            <p class="team-member-title">Blockchain Advisor</p>
                                                            <div class="s_first_team_soc fw">
                                                                <a href="https://www.linkedin.com/in/alexshkor/" target="_blank">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class="svg-to-inline">
                                                                        <g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect y="160" width="114.496" height="352" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></rect>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></path>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <circle cx="56" cy="56" r="56" data-original="#000000" class="active-path" data-old_color="#64caff" fill="#64caff"></circle>
                                                                                </g>
                                                                            </g></g> </svg>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vc_row-full-width vc_clearfix"></div>

                            <div class="upb_bg_img" data-ultimate-bg="url(@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/product-background.jpg"))" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
                            <div id="contact" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_row-o-full-height vc_row-o-columns-top vc_row-o-content-top vc_row-flex">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1496307325902"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h1 style="font-size: 17px;color: #ffffff;line-height: 28px;text-align: right" class="vc_custom_heading titleani">Contact</h1></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid fontseez vc_custom_1496307331151 vc_row-o-equal-height vc_row-flex">
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner vc_custom_1495450484576">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Be the first to receive the latest SynTau news, events and product updates.</p>

                                                                </div>
                                                            </div>
                                                            <div role="form" class="wpcf7" id="wpcf7-f6-p118-o1" lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                    <div style="display: none;">
                                                                        <input type="hidden" name="_wpcf7" value="6" />
                                                                        <input type="hidden" name="_wpcf7_version" value="4.7" />
                                                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p118-o1" />
                                                                        <input type="hidden" name="_wpnonce" value="0096a3588a" />
                                                                    </div>
                                                                    @*                                                                    <p><label> <span class="wpcf7-form-control-wrap st-name"><input type="text" name="st-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" /></span> </label></p>*@
                                                                    @*                                                                    <p><label> <span class="wpcf7-form-control-wrap nd-name"><input type="text" name="nd-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span> </label></p>*@
                                                                    <p><label> <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span> </label></p>
                                                                    <p><input type="submit" value="GET NEWSLETTER" class="wpcf7-form-control wpcf7-submit" /></p>
                                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_single_image wpb_content_element vc_align_right  vc_custom_1495184262996">

                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                        <img width="81" height="81" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/mail.png")" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 81px) 100vw, 81px" />
                                                                    </div>
                                                                </figure>
                                                            </div>

                                                            <div class="wpb_text_column wpb_content_element  vc_custom_1495450896162">
                                                                <div class="wpb_wrapper">
                                                                    <p style="text-align: right; font-size: 27px;">info@syntau.com</p>

                                                                </div>
                                                            </div>

                                                            <div class="wpb_text_column wpb_content_element  vc_custom_1495539143393">
                                                                <div class="wpb_wrapper">
                                                                    <p style="text-align: right; font-size: 27px;">dmitry.klevzhits@syntau.com</p>
                                                                </div>
                                                            </div>

                                                            <div class="wpb_single_image wpb_content_element vc_align_right  vc_custom_1495184284175">

                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="81" height="81" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/chat.png")" class="vc_single_image-img attachment-full" alt="" sizes="(max-width: 81px) 100vw, 81px" /></div>
                                                                </figure>
                                                            </div>

                                                            <div class="wpb_text_column wpb_content_element  vc_custom_1495636511586">
                                                                <div class="wpb_wrapper">
                                                                    <p style="text-align: right; font-size: 27px;">+375 29 996-06-23</p>

                                                                </div>
                                                            </div>

                                                            @*                                                            <div class="wpb_single_image wpb_content_element vc_align_right  vc_custom_1495184302926">*@
                                                            @**@
                                                            @*                                                                <figure class="wpb_wrapper vc_figure">*@
                                                            @*                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="81" height="81" src="@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/post.png")" class="vc_single_image-img attachment-full" alt="" srcset="http://befreenetworks.com/wp-content/uploads/2017/05/post.png 81w, http://befreenetworks.com/wp-content/uploads/2017/05/post-50x50.png 50w, http://befreenetworks.com/wp-content/uploads/2017/05/post-75x75.png 75w, http://befreenetworks.com/wp-content/uploads/2017/05/post-80x80.png 80w" sizes="(max-width: 81px) 100vw, 81px" /></div>*@
                                                            @*                                                                </figure>*@
                                                            @*                                                            </div>*@
                                                            @**@
                                                            @*                                                            <div class="wpb_text_column wpb_content_element  vc_custom_1496754428680">*@
                                                            @*                                                                <div class="wpb_wrapper">*@
                                                            @*                                                                    <p style="text-align: right;">*@
                                                            @**@
                                                            @*                                                                    </p>*@
                                                            @**@
                                                            @*                                                                </div>*@
                                                            @*                                                            </div>*@
                                                            <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row-full-width vc_clearfix"></div><!-- Row Backgrounds --><div class="upb_bg_img" data-ultimate-bg="url(@Url.Content("~/Content/Landing/wp-content/uploads/2017/05/product-background.jpg"))" data-ultimate-bg-style="vcpb-default" data-bg-img-repeat="no-repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="0" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
                        </div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>

        <!-- .four-columns - sidebar -->

    </div>
</div>